# use explicit file list to avoid inclusion of unnecessary files in the source distribution
#
# general files
include README
include INSTALL
include ChangeLog
include COPYING
include TODO
include AUTHORS
include simuPOP_version.py
include MANIFEST.in 
include setup.py
include SConstruct

# source header files
include config.h
include config_solaris.h 
include config_win32.h 
include config_linux.h 
include config_mac.h
include simuPOP/simuPOP_cfg.h
include simuPOP/utility.h
include simuPOP/genoStru.h
include simuPOP/individual.h
include simuPOP/population.h
include simuPOP/simulator.h
include simuPOP/mating.h
include simuPOP/operator.h
include simuPOP/initializer.h
include simuPOP/migrator.h
include simuPOP/outputer.h
include simuPOP/selector.h
include simuPOP/penetrance.h
include simuPOP/qtrait.h
include simuPOP/stator.h
include simuPOP/mutator.h
include simuPOP/transmitter.h
include simuPOP/tagger.h
include simuPOP/pedigree.h
include simuPOP/virtualSubPop.h
include simuPOP/sandbox.h

# source files
include simuPOP/customizedTypes.c
include simuPOP/utility.cpp
include simuPOP/genoStru.cpp
include simuPOP/individual.cpp
include simuPOP/population.cpp
include simuPOP/simulator.cpp
include simuPOP/mating.cpp
include simuPOP/operator.cpp
include simuPOP/initializer.cpp
include simuPOP/migrator.cpp
include simuPOP/outputer.cpp
include simuPOP/selector.cpp
include simuPOP/penetrance.cpp
include simuPOP/qtrait.cpp
include simuPOP/stator.cpp
include simuPOP/mutator.cpp
include simuPOP/transmitter.cpp
include simuPOP/tagger.cpp
include simuPOP/pedigree.cpp
include simuPOP/virtualSubPop.cpp
include simuPOP/sandbox.cpp
include simuPOP/main.cpp

# source generated files
include simuPOP/swigpyrun.h 
include simuPOP/simuPOP_std_wrap.cpp
include simuPOP/simuPOP_op_wrap.cpp 
include simuPOP/simuPOP_la_wrap.cpp
include simuPOP/simuPOP_laop_wrap.cpp 
include simuPOP/simuPOP_ba_wrap.cpp
include simuPOP/simuPOP_baop_wrap.cpp
include simuPOP/simuPOP_std.py
include simuPOP/simuPOP_op.py 
include simuPOP/simuPOP_la.py
include simuPOP/simuPOP_laop.py 
include simuPOP/simuPOP_ba.py
include simuPOP/simuPOP_baop.py
include simuPOP/gsl_wrap.c

# source wrap files
include simuPOP/simuPOP_common.i
include simuPOP/simuPOP_doc.i
include simuPOP/simuPOP_std.i
include simuPOP/simuPOP_op.i
include simuPOP/simuPOP_la.i
include simuPOP/simuPOP_laop.i
include simuPOP/simuPOP_ba.i
include simuPOP/simuPOP_baop.i
include simuPOP/gsl.i

# source python files (modules)
include simuOpt.py
include simuPOP/__init__.py
include simuPOP/utils.py
include simuPOP/plotter.py
include simuPOP/sampling.py
include simuPOP/sandbox.py

# gsl files
include gsl/gsl_machine.h
include gsl/gsl_minmax.h
include gsl/gsl_inline.h
include gsl/gsl_sf_exp.h
include gsl/gsl_sf_expint.h
include gsl/gsl_sf_erf.h
include gsl/gsl_sf_pow_int.h
include gsl/gsl_sf_trig.h
include gsl/gsl_sf_psi.h
include gsl/gsl_message.h
include gsl/gsl_rng.h
include gsl/gsl_math.h
include gsl/gsl_complex.h
include gsl/gsl_complex_math.h
include gsl/gsl_sf_result.h
include gsl/gsl_types.h
include gsl/gsl_cdf.h
include gsl/gsl_version.h
include gsl/gsl_nan.h
include gsl/gsl_precision.h
include gsl/gsl_randist.h
include gsl/gsl_pow_int.h
include gsl/gsl_sf_elementary.h
include gsl/gsl_errno.h
include gsl/gsl_sf_zeta.h
include gsl/gsl_sf_gamma.h
include gsl/gsl_sf_log.h
include gsl/gsl_sys.h
include gsl/specfunc/chebyshev.h
include gsl/specfunc/eval.h
include gsl/specfunc/error.h
include gsl/specfunc/check.h
include gsl/complex/math.c
include gsl/randist/poisson.c
include gsl/randist/chisq.c
include gsl/randist/exponential.c
include gsl/randist/binomial.c
include gsl/randist/binomial_tpe.c
include gsl/randist/geometric.c
include gsl/randist/nbinomial.c
include gsl/randist/multinomial.c
include gsl/randist/gauss.c
include gsl/randist/gausszig.c
include gsl/randist/gamma.c
include gsl/randist/beta.c
include gsl/specfunc/beta.c
include gsl/specfunc/zeta.c
include gsl/specfunc/gamma.c
include gsl/specfunc/log.c
include gsl/specfunc/cheb_eval.c
include gsl/specfunc/trig.c
include gsl/specfunc/exp.c
include gsl/specfunc/expint.c
include gsl/specfunc/erfc.c
include gsl/specfunc/psi.c
include gsl/specfunc/elementary.c
include gsl/specfunc/gamma_inc.c
include gsl/error.h
include gsl/error.c
include gsl/sys/pow_int.c
include gsl/sys/fdiv.c
include gsl/sys/fcmp.c
include gsl/sys/coerce.c
include gsl/sys/infnan.c
include gsl/sys/log1p.c
include gsl/sys/expm1.c
include gsl/sys/invhyp.c
include gsl/rng/ranf.c
include gsl/rng/rand.c
include gsl/rng/ran0.c
include gsl/rng/rand48.c
include gsl/rng/coveyou.c
include gsl/rng/borosh13.c
include gsl/rng/ranlxd.c
include gsl/rng/ran1.c
include gsl/rng/ran3.c
include gsl/rng/taus.c
include gsl/rng/fishman20.c
include gsl/rng/uni32.c
include gsl/rng/minstd.c
include gsl/rng/file.c
include gsl/rng/lecuyer21.c
include gsl/rng/fishman18.c
include gsl/rng/vax.c
include gsl/rng/uni.c
include gsl/rng/ran2.c
include gsl/rng/randu.c
include gsl/rng/cmrg.c
include gsl/rng/transputer.c
include gsl/rng/mrg.c
include gsl/rng/rng.c
include gsl/rng/taus113.c
include gsl/rng/gfsr4.c
include gsl/rng/knuthran.c
include gsl/rng/default.c
include gsl/rng/zuf.c
include gsl/rng/mt.c
include gsl/rng/random.c
include gsl/rng/r250.c
include gsl/rng/types.c
include gsl/rng/fishman2x.c
include gsl/rng/waterman14.c
include gsl/rng/slatec.c
include gsl/rng/ranlxs.c
include gsl/rng/tt.c
include gsl/rng/schrage.c
include gsl/rng/knuthran2.c
include gsl/rng/ranmar.c
include gsl/rng/ranlux.c
include gsl/rng/knuthran2002.c
include gsl/cdf/beta.c
include gsl/cdf/betainv.c
include gsl/cdf/beta_inc.c
include gsl/cdf/binomial.c
include gsl/cdf/gauss.c
include gsl/cdf/gaussinv.c
include gsl/cdf/exponential.c
include gsl/cdf/exponentialinv.c
include gsl/cdf/chisq.c
include gsl/cdf/chisqinv.c
include gsl/cdf/gamma.c
include gsl/cdf/gammainv.c
include gsl/cdf/rat_eval.h
include gsl/cdf/poisson.c


# tests
include test/run_tests.py
include test/test_00_genoStru.py
include test/test_01_individual.py
include test/test_02_population.py
include test/test_03_operator.py
include test/test_04_simulator.py
include test/test_05_matings.py
include test/test_06_initialization.py
include test/test_07_tagging.py
include test/test_08_stat.py
include test/test_09_selection.py
include test/test_10_qtrait.py
include test/test_11_terminator.py
include test/test_12_migration.py
include test/test_13_mutation.py
include test/test_14_transmitter.py
include test/test_15_penetrance.py
include test/test_16_sampling.py
include test/test_17_utils.py
include test/test_18_plotter.py
include test/sample_32_ba.pop
include test/sample_32_la.pop
include test/sample_32_std.pop
include test/sample_64_ba.pop
include test/sample_64_la.pop
include test/sample_64_std.pop

# documentations
include doc/userGuide.pdf
include doc/userGuide.py
include doc/refManual.pdf

# win32 files
include win32/stdint.h
recursive-include win32/x86 *.dll
recursive-include win32/amd64 *.dll
recursive-include win32/zlib-1.2.3 *.h *.c

# bundle boost 1.46.1
recursive-include boost_1_46_1/boost *.hpp *.ipp
recursive-include boost_1_46_1/libs/iostreams/src *.cpp
recursive-include boost_1_46_1/libs/serialization/src *.cpp *.ipp
recursive-include boost_1_46_1/libs/regex/src *.cpp
recursive-include boost_1_46_1/libs/detail *.cpp

