<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>$WikiTitle | $Title</title>
    <!--HeaderText-->
    <link rel='stylesheet' href='$SkinDirUrl/simupop.css' type='text/css' />
    <!--[if lt IE 7]><link rel='stylesheet' href='$SkinDirUrl/lyx-ie.css' rel='stylesheet' type='text/css' /><![endif]-->
</head>
<body>
    <div id='wrapper'>
        <div id='head'>
			<a href="http://simupop.sourceforge.net/cookbook" id="imap"></a>
            <div id='page-title'>
                {$Titlespaced}</div>
            <div id='page-actions'>
                <!--wiki:$Group.PageActions $SiteGroup.PageActions-->
            </div>
        </div>
        <div id='content'>
            <div id='col-left'>
                <!--PageLeftFmt-->
                <div id='sidebar'>
                    <!--wiki:$Group.SideBar $SiteGroup.SideBar-->
                </div>
                <!--/PageLeftFmt-->
            </div>
            <div id='col-right'>
                <!--PageText-->
                <!--PageFooterFmt-->
				<div class='vspace'></div>
                <div id='footer'>
					<a href="http://sourceforge.net"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=143850&amp;type=4" width="125" height="37" border="0" alt="SourceForge.net Logo" /></a>
					<a href="http://www.mdanderson.org"><img src="http://simupop.sourceforge.net/images/mda_logo.gif" height="37" border="0" alt="MDA Logo" /></a>
					<a href="http://www.rice.edu"><img src="http://www.rice.edu/home/images/logo.jpg" height="37" border="0" alt="Rice Logo" /></a>
					</div>
                <!--/PageFooterFmt-->
            </div>
            <div class='clearfix'>
            </div>
        </div>
    </div> 
</body>
</html>
